.homeBody {
    background: #25274D;
    color: #EDF5E1;
}
.sportCard{
    width: 18rem;
    margin-top: 50px;
    height: 10%
    
}
.sportCard:hover{
    box-shadow: 5px 10px 20px 1px rgba(170,171,184,0.5)!important;
}
.button {
        background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
}
.classBody{
    background: #05386b
}

body{
    background: #25274D;
}

.CardImg{
      height: 10%
}