.body{
   
}
.leagueCard{
    background-image: url('/test_photo.jpg'); 
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    width: 600px;
    height: 300px;
    border: 2px solid;
    color: white;
    margin-left: 25%
}
